<documentationOf typeCode="DOC">
  <serviceEvent classCode="PCPR">
    <!-- care provision -->
    <effectiveTime>
      <low nullFlavor="UNK"/>
      <high nullFlavor="UNK"/>
    </effectiveTime>
    <!-- You can include multiple performers, each with an NPI, TIN, CCN. -->
    <performer typeCode="PRF">
      <time>
        <low nullFlavor="UNK"/>
        <high nullFlavor="UNK"/>
      </time>
      {{#provider}}
      <assignedEntity>
        {{#provider_npi}}
          <id extension="{{value}}" root="2.16.840.1.113883.4.6"/>
        {{/provider_npi}}
        {{#provider_ccn}}
          <id extension="{{value}}" root="2.16.840.1.113883.4.336"/>
        {{/provider_ccn}}
        {{#specialty}}
        <code code="{{specialty}}" codeSystem="2.16.840.1.113883.6.101" codeSystemName="Healthcare Provider Taxonomy (HIPAA)"/>
        {{/specialty}}
        {{#addresses}}
        <addr use="HP">
          <streetAddressLine>{{{provider_street}}}</streetAddressLine>
          <city>{{city}}</city>
          <state>{{state}}</state>
          <postalCode>{{zip}}</postalCode>
          <country>{{country}}</country>
        </addr>
        {{/addresses}}
        <assignedPerson>
          <name>
            <given>{{{given_name}}}</given>
            <family>{{familyName}}</family>
          </name>
        </assignedPerson>
        <representedOrganization>
          {{#provider_tin}}
          <id extension="{{value}}" root="2.16.840.1.113883.4.2"/>
          {{/provider_tin}}
          {{#addresses}}
          <addr use="HP">
            <streetAddressLine>{{{provider_street}}}</streetAddressLine>
            <city>{{city}}</city>
            <state>{{state}}</state>
            <postalCode>{{zip}}</postalCode>
            <country>{{country}}</country>
          </addr>
          {{/addresses}}
        </representedOrganization>
      </assignedEntity>
      {{/provider}}
      {{^provider}}
          <assignedEntity>
              <assignedPerson>
                  <name>
                      <given></given>
                      <family></family>
                  </name>
              </assignedPerson>
              <representedOrganization>
                  <id root="2.16.840.1.113883.4.2" extension="" />
                  <id root="2.16.840.1.113883.3.249.5.4" extension=""/>
              </representedOrganization>
          </assignedEntity>
      {{/provider}}
    </performer>
  </serviceEvent>
</documentationOf>